---
layout: page
title: Verification
---

This page outlines the verification process for the House of Misfits server for potential members or their parents.

# Background

## Why does the verification process exist?

## What happens if I don't verify?

# How do I verify?

# How are the images secured?