---
layout: page
title: Verification
---

This page outlines the verification process for the House of Misfits server for potential members or their parents.

# Background

In order to protect our members, House of Misfits requires photo verification of its members.

## Why does the verification process exist?

Signing up for a Discord account is easy. After multiple raids of people posting gore and porn, banned members (including pedophiles, stalkers, predators, people soliciting members for money) returning on alts, and members expressing fear of being watched by lurkers in support channels, this was put in place to protect the members of the server.

# How do I verify?

To verify yourself, look in the channel list for the [#verification](https://discordapp.com/channels/419896766314446868/541778318794686475) channel. In this channel, you can ping an Admin by typing `@Admin`, and the next available Admin will send you a direct message to begin the verification process.

In the initial DM, you will be asked to send a picture of yourself and, if you are verifying as an adult, your ID. Make sure to block out all information except your name and date of birth. 

Once this is done, the Admin will have you send one more picture with something unique and specific, like pointing at your nose or giving a thumbs-up, to make sure the photos are yours.

After this, you will be given a Verified Member role, which gives you access to the entire server!

If you need help, feel free to ask for help in the [#helpdesk](https://discordapp.com/channels/419896766314446868/453174946806497280) channel.

## What happens if I don't verify?

You can still join and chat in some of the channels! However, you will not have access to the entire server, just the casual chatting channels.

If you continue to chat on the server, you will eventually gain the "Unverified" role, which gives you access to join the conversation in a few more focused channels.

# I'm a minor. Can I still verify?

Yes! Write your full username#tag, today's date, and House of Misfits on a piece of paper. Take a selfie (you must be in the photo with at least the vertical half of your face showing) holding that piece of paper.

Note that if you are under the age of 13, you are not allowed on this Discord (as per Discord ToS), even with parental consent. 

# How are the images secured?

It will be saved to a channel accessible only (and forever only) to Admins and Founders (there's 6 of us). We will never publish or release the photo, even if you admit to committing a crime or say you are suicidal, unless we are legally obligated to do so. The verification photo is solely used to make sure you are not a banned member returning or that don't have an alternate account on the server.